### What is pandas series
#### A series in pandas can be thought to be the fundamental piece of data structure. 
#### It is basically nothing but a one-dimensional array-like structure, which can be used to handle and manipulate data.
Parameters in pandas series:

- data: This the value you want your series to possess.
- index: This is the index related to the value you use for the series.
- dtype: This specifies the type of values in the series.
- copy: This copies the data which was input.

In [1]:
import pandas as pd

In [3]:
data_arr= pd.Series([2,3,-4,6])
data_arr

0    2
1    3
2   -4
3    6
dtype: int64

### Create a series with ndarray or numpy array

In [4]:
import numpy as np

In [6]:
npa = np.array(['d','a','t','a'])
data_arr = pd.Series(npa)
data_arr

0    d
1    a
2    t
3    a
dtype: object

In [7]:
data_dict = { 'Delhi': 12.9, 'Mumbai': 8.4, 'Kolkata': 9.7 }

In [8]:
data_arr3 = pd.Series(data_dict)
data_arr3

Delhi      12.9
Mumbai      8.4
Kolkata     9.7
dtype: float64

### How to change the index of pandas series

In [11]:
num = ['n1','n2','n3','n4']
data_arr2= pd.Series([4,5,-2,2], index=num)                       
data_arr2

n1    4
n2    5
n3   -2
n4    2
dtype: int64

### How to perform mathematical operations on a series

In [12]:
data_arr2['n2']

5

In [13]:
# We can use parameters to filter values in a series.
data_arr2[data_arr2 > 2]

n1    4
n2    5
dtype: int64

In [14]:
'n3' in data_arr2

True

In [15]:
data_arr2*5

n1    20
n2    25
n3   -10
n4    10
dtype: int64

### Demonstration of missing values

In [16]:
cities=['Delhi', 'Kolkata', 'Mumbai', 'Chennai']
data_arr4=pd.Series(dict,index=cities)
data_arr4

Delhi      <class 'dict'>
Kolkata    <class 'dict'>
Mumbai     <class 'dict'>
Chennai    <class 'dict'>
dtype: object

###  How to add two series in pandas

In [18]:
data_arr2+data_arr4

Chennai    NaN
Delhi      NaN
Kolkata    NaN
Mumbai     NaN
n1         NaN
n2         NaN
n3         NaN
n4         NaN
dtype: object

### How to access a range of elements in a pandas series

In [19]:
data_arr4[:2]

Delhi      <class 'dict'>
Kolkata    <class 'dict'>
dtype: object

In [20]:
# last two 
data_arr4[2:]

Mumbai     <class 'dict'>
Chennai    <class 'dict'>
dtype: object